* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.admin-only {
    display: none !important;
}

body.is-admin .admin-only {
    display: inline-block !important;
}

#map {
    z-index: 0;
}

.leaflet-popup-content-wrapper {
    border-radius: 8px;
}
